.tasks-container {
    width: 100%;
    padding: 0;
    background-color: var(--primary-color);
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    h1 {
        color: var(--default);
        padding-left: 40px;
        padding-top: 15px;
    }

    .task-inner-container {
        background: var(--secondary-color);
        border-top-right-radius: 26px;
        border-top-left-radius: 26px;
        .no-task {
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 24rem;
            span {
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
    .tasks-contents {
        display: flex;
        max-height: 24rem;
        overflow-y: unset;
        min-height: 24rem;
        overflow-x: scroll;
        flex-direction: row;
        position: relative;
        padding: 30px;
        // margin-top: 20px;

        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .no-task {
        position: absolute;
        top: 0;
        margin: 0 7.5rem;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
    }
}