#root {
  max-width: 524px;
  margin: 0 auto;
  padding: 2rem;

  /* CSS global variables */
  --primary-color: #1775b9;
  --secondary-color: #a2ceed;
  --default: #FFFFFF;
  --gray: #898888;
  --input-bg: #e9eaeb;
  --border-color: #c0c1c1;
  --header-color: #040707;
}

::-webkit-scrollbar {
  width: 20px;
  padding: 30px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 28px;
}

::-webkit-scrollbar-thumb {
  background: #040707;
  border-radius: 26px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-header {
  background: var(--primary-color);
  .header-text {
    color: var(--default);
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    align-items: center;
    padding-left: 50px;
    display: flex;
  }
}

.add-task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-input-form {
  h1 {
    align-self: flex-start;
    margin-left: 45x;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-input {
  background: var(--input-bg);
  height: 50px;
  width: 420px;
  border: none;
  font-size: 16px;

  border-bottom: 1px solid var(--border-color);
  padding: 0 20px;
  margin-bottom: 25px;
}

.title-input:active {
  outline: none;
  border: none;
}

.description-input {
  background: var(--input-bg);
  width: 420px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  margin-bottom: 25px;
  font-size: 16px;
  min-height: 100px;
}

.add-button {
  background-color: var(--primary-color);
  width: 100%;
  color: var(--default);
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
}